name: Publish Python Package

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: PyPi

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build the package
        run: |
          python -m build --sdist --wheel

      - name: Request PyPI OIDC token
        id: pypi-oidc-token
        uses: actions/pypi-oidc-token@v1
        with:
          repository: 'pypi'

      - name: Publish to PyPI
        run: |
          twine upload --non-interactive dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ steps.pypi-oidc-token.outputs.token }}
